<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3>Welcome to the Private Beta List!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 30px; overflow: visible">
    <p style="text-align: center">Thanks for signing up!  We have received your request for an invitation to contextualyze.com.</p>
    <br>
    <p style="text-align: center">You're going to be among the first people in the world to use Contextualyze!!  We'll be in touch shortly when we release the app :) 
    </p>
    <p>(We're not far off!)
    </p>
    <br>
    <p style="text-align: center">If you have any questions or comments please contact Ashley via email:  Ashley@Contextualyze.com or twitter: @ashbt</p>
    <span style="display:inline-block; vertical-align:text-bottom; text-align: center; margin-top: 30px">
      <div id="tweet" style="display:inline-block;">
        <a class="twitter-share-button" data-count="horizontal" data-text="I just signed up for the @contextualyze Private Beta List here --> http://www.contextualyze.com" data-related="@ashbt" href="https://twitter.com/share"></a>
        <a href="https://twitter.com/contextualyze" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Contextualyze</a>
      </div>
    </span>
    <span style="display:inline-block; vertical-align:text-bottom; text-align: center; margin-top: 30px">
          <div class="g-plusone" data-annotation="inline" data-href="http://www.contextualyze.com" data-size="medium">
          </div>
    </span>
    
      
      <!-- <span style="display:inline-block; vertical-align:text-bottom;">
      <div class="fb-like" data-href="http://www.contextualyze.com" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90">
      </div>
 -->

  </div>
</div>
