<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3 style="text-align:center">Welcome to the Private Beta List!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 20px; overflow: visible">
    <p style="text-align: center">Thanks for signing up!  You're going to be one the first to use Contextualyze!!  We'll be in touch shortly when we release the app :)
    </p>
    <p style="text-align: center">If you have any questions/comments please contact us via email:  info@Contextualyze.com or twitter: @contextualyze</p>
    
    <span style="display:inline-block; vertical-align:text-bottom; text-align: center; margin-top: 30px">
        <div id="tweet" style="display:inline-block;">
          <a class="twitter-share-button" data-count="horizontal" data-text="I just signed up for the @contextualyze Private Beta List here --> http://www.contextualyze.com" data-related="@ashbt" href="https://twitter.com/share"></a>
          <a href="https://twitter.com/contextualyze" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Contextualyze</a>
        </div>
        <div class="g-plusone" data-annotation="inline" data-href="http://www.contextualyze.com" data-size="medium">
        </div>
    </span>

  </div>
</div>
