<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="text-align:center">
                <h1>Welcome to Contextualyze<br></h1>
                <br>
                <div id="call-to-action" style="text-align:center">
                  <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Request Invite</a>
                </div>
                <br>
                <br>
            </div>
            <!-- /col-lg-6 -->
            <div class="col-lg-6">
                <%= image_tag("ipad-hand.png",:class => "img-responsive") %> 
            </div> 
            <!-- /col-lg-6 -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->